.usestate input{
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 200px;
    padding-left: 10px;
}
.usestate .card{
    margin: 20px auto;
    width: 250px;
    outline: 2px solid brown;
    padding: 20px;
    box-shadow: 4px 6px 3px brown;
}
.useref .box{
    margin:10px auto;
    width: 300px;
    background-color: aqua;
    text-align: center;
    outline: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
}
.useref .box button{
    width: 50px;
    height: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 1px brown;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}
.usecontext{
    height: 95vh;
    box-sizing: border-box;
    outline: 4px solid brown;
    width: 95vw;
    margin: auto;
}
.usecontext .profile{
    height: 55vh;
    box-sizing: border-box;
    outline: 4px solid brown;
    width: 80vw;
    margin: 10px auto;
}
.usecontext .footer{
    height: 25vh;
    box-sizing: border-box;
    outline: 4px solid brown;
    width: 90vw;
    margin:  auto;
}
.usecontext .contact{
    height: 25vh;
    box-sizing: border-box;
    outline: 4px solid brown;
    width: 50vw;
    margin: 10px auto;
}